* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  width: 100%;
  height: 100%;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell img {
  height: 62px;
  position: relative;
}

.black {
  background: #ff6e40;
}

.white {
  background: #4b70e9;
}

.selected {
  background: #80280d;
}